<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitLife - Eliminar Objetivo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:400,700">
</head>

<body>
    <app-navbar></app-navbar> <!-- Aquí se incluye el componente del navbar -->

    <main>
        <section id="frase">
            <h2>Eliminar Objetivo</h2>
        </section>
        <div class="container">
            <div class="goals-list-container">
                <h3>Tus Objetivos</h3>
                <ul>
                    <li *ngFor="let goal of userGoals">
                        {{ goal.nombre }}
                        <button mat-button color="warn" (click)="deleteGoal(goal)">Eliminar</button>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <app-footer></app-footer> <!-- Aquí se incluye el componente del footer -->
</body>

</html>
