body, html {
    background: linear-gradient(to top, #96E500 0%, #000000 85%);
    color: #fff;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 140vh;
    margin: 0;
    height: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

section {
    margin-bottom: 20px;
}

#header {
    text-align: left;
    background-size: cover;
    background-image: url('/assets/fondo-ejercicios.jpg');
    padding: 0 0;
    position: relative;
}

#header h2 {
    font-size: 50px;
    color: #fff;
    background-color: transparent;
    padding: 0 0;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.form-container {
    flex: 1;
    max-width: 70%;
}

.goals-list-container {
    flex: 1;
    max-width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.goals-list-container ul {
    list-style-type: none;
    padding: 0;
}

.goals-list-container li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

.goals-list-container li:hover {
    background-color: #fff;
    color: #000;
}

.custom-form-field {
    width: 100%;
}

/* Cambiar el color del botón */
.custom-button {
    width: 50% !important;
    background-color: #ff5722 !important; /* Cambia este color por el que prefieras */
    color: #ffffff !important;
    max-width: 500px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el botón en el contenedor */
}
