<!-- shared/navbar/navbar.component.html -->
<header>
    <img src="assets/logo habit life.png" height="50" style="margin-left: 20px;">
    <i class="fas fa-search search-icon"></i>
    <nav>
        <div class="menu-bar">
            <a href="#" class="menu-item">HabitLife</a>
            <a href="Alimentacion/malimentacion.html" class="menu-item">Alimentacion</a>
            <a href="Estudio/Estudio.html" class="menu-item">Estudio</a>
            <a href="#" class="menu-item">Ejercicios</a>
            <a href="https://www.facebook.com/groups/954492926210624/" class="menu-item">Comunidad</a>
            <a href="/login" class="menu-item">Iniciar Sesión</a>
            <a href="/register" class="menu-item">Registro</a>
        </div>
    </nav>
</header>
