<!-- shared/navbar/navbar.component.html -->
<header>
    <a href="/landing-page" class="menu-item">
        <img src="assets/logo habit life.png" height="50" style="margin-left: 20px;">
    </a>
    <i class="fas fa-search search-icon"></i>
    <nav>
        <div class="menu-bar">
            <a href="/objetivos" class="menu-item">Objetivos</a>
            <a href="/alimentacion" class="menu-item">Alimentación</a>
            <a href="/ejercicios" class="menu-item">Ejercicios</a>
            <a href="#" class="menu-item">Estudio</a>
            <a href="/login" class="menu-item">Iniciar Sesión</a>
            <a href="/register" class="menu-item">Registro</a>
        </div>
    </nav>
</header>
