<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitLife - Alimentación</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:400,700">
</head>
<body>
    <app-navbar></app-navbar> <!-- Aquí se incluye el componente del navbar -->

    <main>
        <section id="frase">
            <h2>Alimentación</h2>
        </section>
        <div class="container">
            <div class="column">
                <section>
                    <a href="/crear-plan-nutricional" class="menu-item">
                        <img src="assets/Crear plan.png" height="70">
                        <h3>Crear Plan Nutricional</h3>
                    </a>
                    <p> Aquí, encontrarás una variedad de recursos y consejos diseñados para
                        ayudarte a crear un plan nutricional que se ajuste a tus objetivos y necesidades.
                    </p>
                </section>
            </div>
            <div class="column">
                <section>
                    <a href="registro.html">
                        <img src="assets/Editar plan.png" height="70"> 
                        <h3> Editar Plan Nutricional</h3>
                    </a>
                    <p> Se puede ingresar a la edición de su plan Nutricional sea personalmente o con su 
                        nutricionista personal.
                    </p>
                </section>
            </div>
            <div class="column">
                <section>
                    <a href="recetas.html">
                        <img src="assets/Eliminar plan.png" height="70">
                        <h3>Eliminar Plan Nutricional</h3>
                    </a>
                    <p> Eliminación de los planes nutricionales que seleccione de su cuenta.</p>
                </section>
            </div>
            
        </div>
    </main>

    <app-footer></app-footer> <!-- Aquí se incluye el componente del footer -->
</body>
</html>
