<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitLife</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:400,700">
</head>

<body>
  <app-navbar></app-navbar>
  <main>
    <section id="encabezado">
      <h2>"Navega, Inspira y Actúa"</h2>
      <h4>Tu viaje de transformación empieza ahora.</h4>
      <a routerLink="/register" class="menu-item">COMIENZA AHORA</a>
    </section>
    <div class="container">
      <div class="column">
        <section>
          <h1>Nuestra Misión</h1>
          <p>Descubre el poder transformador de los hábitos saludables con HabitLife. Nos dedicamos a simplificar y personalizar tu viaje hacia una vida más saludable, proporcionándote herramientas, consejos respaldados por la ciencia y una comunidad comprometida. Creemos que la salud va más allá de la ausencia de enfermedad, es un bienestar integral que abraza cuerpo, mente y espíritu. Únete a nosotros para establecer y consolidar hábitos adaptados a tu estilo de vida, celebrar logros juntos y construir una comunidad dedicada a la búsqueda colectiva de una vida más plena.</p>
        </section>
      </div>
      <div class="column">
        <section>
          <h1>Sobre los hábitos saludables</h1>
          <p>La adopción de hábitos saludables es fundamental para alcanzar un estilo de vida equilibrado y pleno. Integrar pequeñas rutinas diarias, como beber suficiente agua, realizar ejercicio regularmente, mantener una dieta nutritiva y asegurarse de obtener un buen descanso nocturno, puede marcar una gran diferencia en nuestra salud física y mental. Únete a nosotros en el viaje hacia una vida más saludable y descubre cómo pequeños cambios pueden tener un impacto significativo en tu bienestar general.</p>
        </section>
      </div>
    </div>
    <section id="habit-management" class="habit-section">
      <div class="content-wrapper">
        <div class="image-container">
          <img src="assets/vector fitness 2.png" alt="Habit Management" class="habit-image">
        </div>
        <div class="text-container">
          <img src="assets/vector fitness 1.png" height="300" alt="Habit Management" class="habit-image">
          <h2 style="font-size: 30px; align-items: center; text-align: center; ">Habit building &amp; management</h2>
          <p style="font-size: 15px; text-align: center;">Easily set goals and manage your habits with our intuitive and user-friendly interface. Dive into our extensive library of customizable habit templates that offer an extra dose of inspiration for creating your new daily routines. Productive habit planner helps you on your journey toward a more organized, focused, and fulfilling life.</p>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</body>
</html>
